body {
  overflow: hidden;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

input:checked label {
  text-decoration: overline;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 16px;
}

/* checkbox aspect */
.control {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0 solid #000;
  border-radius: 0;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #ccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control input:checked:focus ~ .control_indicator,
.control:hover input:not([disabled]):checked ~ .control_indicator {
  background: #0e6647;
}

.control_indicator::after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control-checkbox .control_indicator::after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control input:checked ~ .control_indicator::after {
  display: block;
}

.control-checkbox input:disabled ~ .control_indicator::after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

#sidebar {
  height: calc(100vh - 56px);

  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3f4a59;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #485566;
    border-radius: 10px;
  }

  .projects {
    max-height: 300px;
    overflow-y: auto;
  }
}

#content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 56px);

  .to-do {
    box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.48);
    background-color: white;
    height: fit-content; /* stylelint-disable-line */
  }
}
